.model {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.58);
    display: none;
}


.modelCard {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 27rem;
    width: 50rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.modelCardTop {
    display: flex;
    margin: 10px;
    background-color: white;
    align-items: center;

}

.modelCardTop h3 {
    margin: 0%;
}

.modelCardTop div {
    margin-left: auto;
    background-color: red;
}

.myfileLable {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: 20px;
    height: 20rem;
    cursor: pointer;
    background-color: rgb(248, 248, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px rgb(207, 207, 207) solid;
    transition: 250ms;

}



.myfileLable:hover {
    outline: 2px rgb(207, 207, 207) solid;
}