.connectorComp {
    background-color: white;
    padding: 10px;
}

.connectorCompTop {
    display: flex;
    align-items: center;
}

.connectorCompTopHeading h2 {
    margin-bottom: 0px;
}

.connectorCompTopHeading p {
    margin-bottom: 0px;
    margin-top: 6px;
}

.connectorCompTopButton{
     margin-left: auto;
}

.connectorCompTopButton button{
      background-color: rgb(0, 189, 0);
    border: none;
    padding: 15px;
    cursor: pointer;
}

.connectorCompTopButton button:hover{
     background-color: rgb(0, 100, 0);
}


.connectorCompSearch{
     display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.connectorCompSearch input{
    width: 100%;
    border-radius: 0%;
}


