.sidebar {
    height:calc(100dvh - 60px) ;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}



.link{
    align-items: center;
    margin: 0;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.link:hover:not(.active) {
    background-color: rgba(152, 73, 226, 0.5);
}

.active{
    background-color:blueviolet;
    color: white;
}