.ButtonPrimary{
    border: none;
    background-color: blueviolet;
    padding: 10px;
    font-size: 20px;
    padding-inline: 40px;
    cursor: pointer;
    transition: 250ms;
    color: white;
    font-weight: 500;
    
}

.ButtonPrimary:hover{
    background-color: rgb(111, 0, 214);
}