.wharehouseComp {
    background-color: white;
    padding: 10px;
}

.wharehouseCompTopHeading h2{
    margin-bottom: 0px;
}

.wharehouseCompTopHeading p{
    margin-bottom: 0px;
    margin-top: 6px;
}

.wharehouseCompTop {
    display: flex;
    align-items: center;    
}


.wharehouseCompTopButton {
    margin-left: auto;

    
}

.wharehouseCompTopButton button{
    background-color: rgb(0, 189, 0);
    border: none;
    padding: 15px;
    cursor: pointer;
    
}

.wharehouseCompTopButton button:hover{
    background-color: rgb(0, 100, 0);
}


.wharehouseCompSearch{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.wharehouseCompSearch input{
    width: 100%;
    border-radius: 0%;
}

.wharehouseCompSearch button{
     background-color: rgb(204, 204, 204);
    border: none;
    padding: 15px;
    cursor: pointer;
   
}

.wharehouseDatabase p{
    background-color: rgb(255, 244, 244);
    padding: 10px;
    cursor: not-allowed;
    color: gray;
    
}
.wharehouseDatabaseTable p{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 10px;
    color: black;
    
    cursor: pointer;
}


.wharehouseDatabaseTable p:hover{
    text-decoration: underline;
}

.wharehouseDatabaseTableChild{
    display: flex;
    border-bottom: 0.1px rgb(221, 221, 221) solid;
    align-items: flex-end;
}

.wharehouseDatabaseTableChild a{
    margin-left: auto;
    color: red;
}
