.NavbarModel{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: rgb(255, 255, 255);
    display: none;
}


.closenavbarmodel svg{
    padding: 10px;
    border-radius: 10rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.closenavbarmodel svg:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.NavbarModelContent{
    background-color: red;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}