.scroll-container {
    max-width: 1920px;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
    padding: 40px;
    margin: auto;
}

.scroll-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.scroll-container p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    color: #303030;
    max-width: 600px;
    margin-top: 0%;
    margin-bottom: 30px;
}

.scroll-img {
    height: 80px;
    flex: 0 0 auto;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.644);
    padding: 10px;
    border-radius: 10px;
    transition: 250ms;
    cursor: default;
}

.scroll-img:hover {
    background-color: blueviolet;
}


.scroll-track {
    display: flex;
    width: max-content;
    animation: scroll 10s linear infinite;
    gap: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-20%);
    }
}

.scroll-container:hover .scroll-track {
    animation-play-state: paused;
}