.quote-heading{
    font-size: larger;
    /* background-color: aqua; */
    
}

.quote-heading h1{
   font-family: "Open Sans", sans-serif;
    font-weight: 900;
    margin-top: 2%;
    line-height: 1.2;
    color: #1B3139;
    font-size: clamp(25px, 5vw, 56px);
    color: #001b44cb;
}

.quote{
    background-color: white;
    max-width: 1920px;
    margin: auto;
    padding: 100px;
     
}