.quote-heading{
    font-size: larger;
    /* background-color: aqua; */
    
}

.quote-heading h1{
    margin: 0%;


    font-family: Arial, Helvetica, sans-serif;
    color: #1958b8;
}

.quote{
    background-color: white;
    max-width: 1920px;
    margin: auto;
    padding: 100px;
     
}