.quote-heading{
    font-size: larger;
    /* background-color: aqua; */
    
}

.quote-heading h1{
    margin: 0%;
}

.quote{
    background-color: red;
    max-width: 1920px;
    margin: auto;
    padding: 100px;
}