.loginTop {
    max-width: 300px;
    margin: auto;
}


.loginForm {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    gap: 20px;
    padding: 20px;
        
}

.chekbox{
    display: flex;
}