.service-grid{
    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto ;
    height: 100vh;
}

.sevice-grid-item{
    background-color: red;
    padding: 10px;
    margin: 10px;
}

#serice-grid-item1{
    grid-area: 1/1/1/3;
    text-align: center;
}

#serice-grid-item2{
    grid-area: 2/1/4;
}

#serice-grid-item3{
    grid-area: 2/2/4;
}

.service-btn{
    background-color: rgb(255, 219, 219);
    border: none;
    padding: 10px;
    border-radius: 15rem;
    margin: 4px;
    padding-inline: 30px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}



.service-btn:hover{
    background-color: red;
}