


.footer-top {
    background-color: wheat;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}



.footer h1 {
    color: blueviolet;
    font-size: 25vw;
    text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd;
    animation: move 5s linear infinite;
    margin-bottom: auto;
    margin: 0%;
    overflow: hidden;
}

