.Navbar {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    display: flex;
    justify-content: end;
    align-items: center;
}

.Navbar p {
    cursor: context-menu;
    margin: 0%;
    padding: 10px;
    padding-inline: 40px;
    font-size: 20px;
}

.opennavbarmodel {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    height: 100%;
}


@media screen and (max-width: 1000px) {
    .Navbar p {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .opennavbarmodel {
        display: none;
    }
}