.subMenu{
    background-color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    justify-content: end;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.subMenu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: #ccc;
  
}

.subItem{
    border: none;
    width: 200px;
    padding: 10px;
    cursor: pointer;
}



.subItem:hover{
    background-color: rgb(233, 221, 221);
}

h4{
    margin: 0;
}

.subItem p{
    margin: 0%;
    font-size: small;
    font-weight: 100;
    
}




