.DatabaseModel{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 89, 255, 0.397);
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    justify-content: center;
    align-items: center;
}

.DatabaseModelContent{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.DatabaseModelContentTop{
    display: flex;
    align-items: center;
    gap: 30px;
}


.DatabaseModelContentTopButton{
    margin-left: auto;
    
}


.DatabaseModelContentBottom{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    flex-direction: column;
}

