.why-grid {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-rows: auto auto auto auto auto; */
    max-width: 1920px;
    margin: auto;
}

.why-grid-item {
    background-color: white;
    margin: 10px;
    padding: 50px;
    border-radius: 5px;
    cursor: default;
}

.why-grid-item h1 {
    font-family: "Open Sans", sans-serif;
}

.why-grid-item h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1d1d1d;
}

.why-grid-item li {
    font-family: Arial, Helvetica, sans-serif;
    color: #1d1d1d;
    /* background-color: red; */
    padding: 10px;
}

#why-grid-item-top {
    grid-area: 1/1/1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#why-grid-item-top p {
    margin-top: 0%;
}

#why-grid-item3 {
    grid-area: 2/3/6;
    background-color: blueviolet;
    color: white;

}

#why-grid-item3 h3 {
    color: rgb(255, 255, 255);
}

#why-grid-item3 li {
    color: white;
}

#why-grid-item1 {
    grid-area: 2/1/4;

}

#why-grid-item5 {
    grid-area: 4/1/6;

}

#why-grid-item2 {
    grid-area: 2/2/4;

}

#why-grid-item4 {
    grid-area: 4/2/6;

}

.why-grid-item img {
    width: 100%;
    height: 70%;
}


@media screen and (max-width: 1000px) {
    #why-grid-item1 {
        grid-area: 2/1/2/4;
    }

    #why-grid-item2 {
        grid-area: 3/1/3/4;

    }

    #why-grid-item4{
         grid-area: 4/1/4/4;
    }

    #why-grid-item5{
        grid-area: 5/1/5/4;
    }

    #why-grid-item3{
        grid-area: 6/1/6/4;

    }
}