

.why-grid{
    height: 100vh;
    background-color: indianred;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}

.why-grid-item{
    background-color: wheat;
    margin: 10px;
    padding: 10px;
}



#why-grid-item-top{
    grid-area: 1/1/1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#why-grid-item-top h1{
    margin: 0%;
}
#why-grid-item-top p{
    margin: 0%;
}

#why-grid-item3{
    grid-area: 2/3/6;
    background-color: blueviolet;
    
}

#why-grid-item1{
    grid-area: 2/1/4;
    
}

#why-grid-item5{
    grid-area: 4/1/6;
    
}

#why-grid-item2{
    grid-area: 2/2/4;
    
}

#why-grid-item4{
    grid-area: 4/2/6;
    
}