.pageDataSource{
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: aqua;
}


.contentDataSource{
    padding: 30px;
}

.contentDataSourcefile{
    background-color: rgb(255, 238, 238);
    height: 250px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contentDataSourcefile:hover{
    background-color: rgb(255, 200, 200);
}

.contentDataSourcefile img{
    height: 50px;
    color: gray;
}